WeatherClient/Connected Services/ServiceReference1/WeatherService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Celciustofarenheit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="temp" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelciustofarenheitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CelciustofarenheitResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Farenheittocelcius">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="temp" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FarenheittocelciusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FarenheittocelciusResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>